/* FONTS **********************************************************************/

// Bourbon Mixin for top notch webfont support: https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_font-face.scss
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal ) {
  @font-face {
      font-family: $font-family;
      src: url('#{$file-path}.otf');
      font-weight: $weight;
      font-style: $style;
  }
}

@include font-face(Systopie, '/font/systopie_regular');
@include font-face(Systopie, '/font/systopie_bold', bold);
@include font-face(Systopie, '/font/systopie_italic', normal, italic);

/******************************************************************************/

/* TYPOGRAPHY *****************************************************************/

$link-color: #009ECC;

a, a:visited {
  text-decoration: none;
  color: $link-color;
  font-weight: bold;

  &:hover {
    color: darken($link-color, 20%);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: Systopie, $base-fonts;

  a { border: none; }
}

/*******************************************************************************/

/* ELEMENTS ********************************************************************/

section {
  padding: 2em 0;
  border-bottom: 2px solid #00BCF2;
}

img {
  max-width: 100%;
}

/*******************************************************************************/

/* UTILITIES *******************************************************************/

.left {  float: left; }
.right { float: right; }
.invisible { opacity: 0; }
a .small { font-weight: normal; }

/*******************************************************************************/

/* CUSTOM DEFAULTS *************************************************************/

.page {
  padding: 2em 1em;
}

.content {
  a {
    border-bottom: 1px dashed #ccc;
  }
}

.featured.event { height: auto; }
.featured {
  .title {
    font-size: 64px;
    line-height: 72px * 1.2;
  }
  font-size: 120%;
}

.event {
  clear: both;
  padding: 1em 0;
  border-top: 1px solid #eee;
  height: 190px;

  &:first-child { border-top: none; }
  &:last-child { margin-bottom: 0; padding-bottom: 0; }
  p { margin: 0.1em; }
}

.event .photo {
  width: 30%;
  height: 200px;
  overflow: hidden;
  margin-right: 10px;
  float: left;

  img {
    width: 100%;
    height: auto;
  }
}

.date, .join {
  font-size: 0.8em;
}


.nav {
  .divider {
    font-size: 12px;
    margin-bottom: .5em;
  }

  ul {
    margin-left: 10px;
    margin-bottom: 1em;
  }
}

.name {
  font-weight: bold;
  margin-bottom: 0;
}

.hackers {
  line-height: 24px;
  color: #777;
  font-style: italic;
}

#about p {
  text-align: center;
}

#leadership {
  $leader-width: 140px;
  $leader-pic-height: 200px;
  $leader-height: 280px;

  li {
    width: $leader-width;
    height: $leader-height;
    float: left;
    margin: 0 5px 5px 0;

    p { line-height: 1.2em; }

    .backpic {
      width: $leader-width;
      height: $leader-pic-height;
    }
  }

  .advisor {
    height: $leader-height + 80;
  }

  border: none;
}


/* "MOBILE FIRST" (i.e. will change) ****************************************/

.logo       { display: none; }
.nav-digest { display: block; }














/****************************************************************************/








