/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */

  $nav-width: 200px;

  .logo       { display: block; }
  .nav-digest { display: none; }

  #nav-title {
    display: none;
  }

  .nav-pane {
    width: $nav-width;
    background-color: #fafafa;
    border-right: 1px solid #f0f0f0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 3em 0;
  }

  .nav-wrapper {
    margin-left: 20px;
    padding: 2em 0;
  }

  .digest-signup {
    padding: 2em 0;
    width: 150px;
    margin-left: 20px;

    p {
      font-size: 0.8em;
      line-height: 1.2em;
    }
  }

  .page {
    margin-left: $nav-width;
  }

  .content {
    max-width: 640px;
    margin: 0 auto;
  }

  .logo-wrapper {
    width: 180px;
    margin: 2em auto;
  }
}

@media only screen and (max-width: 35em) {
  .nav-pane {
    display: none;
  }

  #logo {
    height: 28px;
    width: 90px;
    margin: 4px;
  }

  #nav-title {
    position: fixed;
    top: 0;
    left: 0;
    height: 36px;
    width: 100%;
    text-align: center;
    background: #eee;
  }

  #menu {
    position: fixed;
    top: 36px;
    left: 0;
    width: 100%;
    font-size: 12px;
    background: #f8f8f8;
  }

  #menu-button {
    float: right;
    display: block;
    height: 36px;
    width: 36px;
    font-size: 24px;
    color: #111;
  }

  body {
    margin-top: 36px;
  }

  .nav-wrapper {
    padding: 12px;
  }

  .nav-wrapper > .nav > li {
    display: block;

    height: 12px;
    padding: 8px 0;
  }

  .digest-signup {
    display: none;
  }

  .description { font-size: 80%; }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}



/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * {
      background: transparent !important;
      color: #000 !important; /* Black prints faster: h5bp.com/s */
      box-shadow: none !important;
      text-shadow: none !important;
  }

  a,
  a:visited {
      text-decoration: underline;
  }

  a[href]:after {
      content: " (" attr(href) ")";
  }

  abbr[title]:after {
      content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
      content: "";
  }

  pre,
  blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
  }

  thead {
      display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
      page-break-inside: avoid;
  }

  img {
      max-width: 100% !important;
  }

  @page {
      margin: 0.5cm;
  }

  p,
  h2,
  h3 {
      orphans: 3;
      widows: 3;
  }

  h2,
  h3 {
      page-break-after: avoid;
  }
}

