---
layout: default
title: Leadership - Tech@NYU
leads:
  - name: Kim Pham
    role: President
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/50364e1fe4b070ad3ee67d59/1345736227899/timthumb.jpeg?format=300w
    link: https://twitter.com/kim617
  - name: Vivek Patel
    role: Chair, President 2011-2012
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/50364ebde4b09af678eed566/1345736383390/timthumb.png?format=300w
    link: http://twitter.com/revivek
  - name: Misha Ponizil
    role: DemoDays
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/50364f0184ae416826d25598/1345736456555/timthumb.png?format=300w
    link: https://twitter.com/mishaponizil
  - name: Jeremiah Malina
    role: HackDays
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/50365137e4b09af678eedb68/1345737016079/timthumb.jpeg?format=300w
    link: https://twitter.com/jjmalina
  - name: Steve Kaliski
    role: Treasurer
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/50365389c4aa2d2d3152c8ac/1345737610436/timthumb%20(2).jpeg?format=300w
    link: https://twitter.com/sjkaliski
  - name: Abhi Agarwal
    role: Freshman Circuit
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/50db56a8e4b039551293d715/1356551849604/Abhi.jpg?format=300w
    link: https://twitter.com/AbhiAgarwal
  - name: David Byrd
    role: Analytics
    profpic: https://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/5138cf7ee4b033fc626d7339/1362677630345/david.jpg?format=750w
    link: https://twitter.com/davidbyrd11
  - name: Brittany VanBibber
    role: Digital
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/50db5712e4b039551293d9aa/1356551954339/Brittany.jpg?format=300w
    link: https://twitter.com/TheBrittaNYC
  - name: Josh Nussbaum
    role: Startup Week
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/50db5b57e4b039551293e3ef/1356553047674/Josh.jpeg?format=300w
    link: https://twitter.com/josh_nussbaum
  - name: Philip Ottesen
    role: GameDays
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/50db5c57e4b00220dc71ee1b/1356553304525/Philip.png?format=300w
    link: http://www.meetup.com/Tech-NYU-GameDays-nuts-and-bolts-of-game-dev-for-students/members/67581082/
  - name: Ethan Resnick
    role: DesignDays
    profpic: https://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/5138d02de4b031149dd968e4/1362677805746/ethan.jpg?format=300w
    link: https://twitter.com/studip101
associates:
  - name: Andrew Bryk
    role: Fundraising
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/503653b684ae416826d25cd7/1345737654949/timthumb.jpeg?format=300w
    link: https://twitter.com/andrewjbryk
  - name: Amrish Singh​
    role: EEX Liaison
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/504d7b86e4b02ca5e4b8ff35/1347255174513/1346880716312.jpeg?format=300w
    link: https://twitter.com/amrish
  - name: Aisen Caro Chacin
    role: DemoDays, Parsons Electronics Society
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/50393eebe4b011773394043c/1345928940264/225674_2012305305649_7145017_n.jpg?format=300w
    link: https://twitter.com/aisencc
  - name: Belle Huang
    role: DesignDays
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/504d790324aced30f631652e/1347254532194/280275_1661472954919_7249779_o.jpg?format=300w
    link: https://twitter.com/nwhistles
  - name: Kate Zhang
    role: Job Board Tech@NYU Blog
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/50636e5c84aed7178a6a9eb4/1348693596838/kate%20zhang.png?format=300w
    link: https://twitter.com/katezennyc
  - name: ​Derrick Hsiou
    role: Entrepreneurship &amp; Innovation Association (EIA) Liaison
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/5036547f24ac8e905e7e25cf/1345737859391/timthumb%20(1).jpeg?format=300w
    link: https://twitter.com/drkshow
  - name: Michael Bronfman
    role: "@ Hours"
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/50db595ee4b0a05702a464c0/1356552542680/Bronfman.png?format=300w
    link: https://twitter.com/MikeBronfman
  - name: Jacob Preston
    role: HackDays
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/50db6291e4b039551293fb43/1356554897733/Jacob%202.jpg?format=300w
    link: https://twitter.com/Jprez38
  - name: Emmanuel Hahn
    role: Media
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/50db5adde4b039551293e334/1356552925559/Emanuel.jpg?format=300w
    link: https://twitter.com/hahnbo
  - name: Sarah Scott
    role: DemoDays
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/50db5ca5e4b0c2f4975f7677/1356553381657/Sarah.jpeg?format=300w
    link: https://twitter.com/sarahoscott
  - name: Cheryl Wu
    role: DesignDays
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/5117b41ae4b04512ec80de99/1360507931294/Cheryl.jpg?format=300w
    link: https://twitter.com/grungerabbit
alumni:
  - name: Trevor Owens
    role: Founder, 2009-2010. Founder and CEO, Lean Startup Machine
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/5036565924ac8e905e7e2b2a/1345738333558/timthumb%20(3).jpeg?format=300w
    link: https://twitter.com/to2
  - name: Ben Wolff
    role: President, 2010-2011. McKinsey &amp; Company
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/5036568ce4b070ad3ee68bc0/1345738381223/timthumb.jpeg?format=300w
    link: https://twitter.com/bnwolff
  - name: Tal Safran
    role: Whiskeydog
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/503656bb84ae416826d262c6/1345738428251/timthumb%20(1).jpeg?format=300w
    link: https://twitter.com/talsafran
  - name: Max Stoller
    role: Lerer Ventures
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/50365762e4b0fd0f4baabd64/1345738595679/timthumb%20(2).jpeg?format=300w
    link: https://twitter.com/maxstoller
  - name: ​Matylda Czarnecka
    role: Love Your Layover
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/503657a084ae416826d264a8/1345738658585/timthumb%20(5).jpeg?format=300w
    link: https://twitter.com/matylda
  - name: Nate Berkopec
    role: Craft Coffee
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/5036578dc4aa2d2d3152cf13/1345738639922/timthumb.png?format=300w
    link: https://twitter.com/nateberkopec
  - name: Rebecca Zhou
    role: Raise Cache, Gin Lane
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/50365774e4b09af678eeeb54/1345738613123/timthumb%20(4).jpeg?format=300w
    link: https://twitter.com/rbeccazhou
  - name: Jared Wyatt
    role: Fatherhood
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/503657f584ae416826d26513/1345738742304/timthumb.jpeg?format=300w
    link: https://twitter.com/wyattisimo
  - name: Jon Chan
    role: Friidum, Deloitte​ Digital
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/5061cddac4aac9fd4e63e446/1348586970523/jon.jpg?format=300w
    link: https://twitter.com/JonHMChan
  - name: Tami Evnin
    role: NASDAQ OMX, Edible Circuits​
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/50365837c4aa2d2d3152d120/1345738809318/timthumb.png?format=300w
    link: https://twitter.com/tamiiiiiiiiiiii
  - name: Hursh Agrawal​
    role: Branch
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/50365818e4b09af678eeef5b/1345738777814/timthumb%20(2).jpeg?format=300w
    link: https://twitter.com/hursh
  - name: Jake Siegal
    role: Samplrs, Fancy​
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/503657dce4b09af678eeed02/1345738716749/timthumb%20(1).jpeg?format=300w
    link: https://twitter.com/jakesiegal
  - name: ​Naomi Eichenbaum
    role: MedPro Investors, LanguageMate
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/503658a784ae416826d265be/1345738919833/timthumb%20(1).jpeg?format=300w
    link: https://twitter.com/naomiinnyc
  - name: ​Andrew Flockhart
    role: Branch
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/504a53c884ae6843eab481a5/1347048392628/389606_2485082364121_901062534_n.jpg?format=300w
    link: https://twitter.com/aflock
  - name: ​Lisa Zhang
    role: Goldman Sachs​
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/5036588ce4b09af678eeeff9/1345738893022/timthumb.jpeg?format=300w
    link: https://twitter.com/thezhangover
  - name: Ben Sesser
    role: ​G Street Media​
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/5036587be4b09af678eeefe2/1345738877633/timthumb%20(2).jpeg?format=300w
    link: https://twitter.com/bsesser
  - name: ​Sutian Dong
    role: FirstMark Capital
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/5036584de4b09af678eeefa4/1345738830192/timthumb%20(4).jpeg?format=300w
    link: https://twitter.com/sutiandong
  - name: ​Yasser Ansari
    role: Project Noah
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/503658d2e4b0fd0f4baabf07/1345738963323/timthumb%20(4).jpeg?format=300w
    link: https://twitter.com/urbanorganism
  - name: Eric Hong
    role: Curiomotion LLC​
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/5036580c24ac8e905e7e2eee/1345738764374/timthumb%20(3).jpeg?format=300w
    link: https://twitter.com/mugmania
  - name: Tengchao Zhou
    role: ​
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/503658bee4b0fd0f4baabee5/1345738942737/timthumb%20(3).jpeg?format=300w
    link: https://twitter.com/ffmaer
  - name: Ali Shah
    role: Google
    profpic: https://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/5138ce50e4b033fc626d6fd5/1362677329124/ali.jpg?format=300w
    link: https://twitter.com/blackrabbit
  - name: Matt Ruzicka
    role: Chile
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/50365399c4aa2d2d3152c8c9/1345737627297/timthumb%20(3).jpeg?format=300w
    link: https://twitter.com/mattruzicka
  - name: Aaron Marks
    role: Gothamist
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/5036506184ae416826d257f6/1345736802534/timthumb%20(1).jpeg?format=300w
    link: https://twitter.com/aaronjmarks
  - name: Lexi Lewtan
    role: Betaworks
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/504d7a10e4b0a419244d61e5/1347254800231/LL2%20(1).jpg?format=300w
    link: https://twitter.com/lexilewtan
  - name: Emmett Butler
    role: Heads Up Hot Dogs
    profpic: https://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/5138cef4e4b08ef26b571c04/1362677492373/emmett.jpg?format=300w
    link: https://twitter.com/emmett9001
advisors:
  - name: Cynthia Franklin
    role: Senior Associate Director, NYU Stern School of Business Berkeley Center
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/50365981e4b0fd0f4baac10e/1345739140262/timthumb.jpeg?format=300w
    link: http://www.linkedin.com/pub/cynthia-franklin/8/664/186
  - name: Frank Rimalovski
    role: Managing Director, NYU Innovation Venture Fund
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/50365999e4b0fd0f4baac129/1345739162003/timthumb.png?format=300w
    link: https://twitter.com/rimalovski
  - name: Evan Korth
    role: Clinical Associate Professor, NYU Department of Computer Science
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/503659bfc4aa2d2d3152d4bb/1345739201142/timthumb%20(1).jpeg?format=300w
    link: https://twitter.com/evankorth
  - name: ​Lawrence Lenihan
    role: Professor of Entrepreneurship. Founder and Managing Director, FirstMark Capital
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/503659d984ae416826d2682f/1345739226601/timthumb%20(2).jpeg?format=300w
    link: https://twitter.com/lawrencelenihan
  - name: Adam Penenberg
    role: Professor of Journalism, Arthur L. Carter Journalism Institute. ​Editor, PandoDaily
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/50365a0324ac8e905e7e3361/1345739279219/timthumb%20(3).jpeg?format=300w
    link: https://twitter.com/penenberg
  - name: David Lee
    role: Co-founder and Managing Partner of SV Angel. NYU Law ’99
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/50365a4284ae416826d269d6/1345739331707/timthumb%20(1).png?format=300w
    link: https://twitter.com/davidlee
  - name: Norman White
    role: Deputy Chair, IOMS. Director, Center for Research Computing
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/50365a72e4b070ad3ee69073/1345739382395/timthumb%20(5).jpeg?format=300w
    link: http://people.stern.nyu.edu/nwhite/
  - name: David Tisch
    role: Former Managing Director of TechStars​. NYU Law '06
    profpic: http://static.squarespace.com/static/50354720c4aa2d2d3150d3d8/t/504a38cbe4b026ebf3e3fa0b/1347041484532/38-david-tisch.jpg?format=300w
    link: https://twitter.com/davetisch
---

<section id="leadership">
  <h2>Leadership</h2>
  <p>The crazy ones.</p>

  <h3>Leads</h3>
  <ul class="leads">
    {% for p in page.leads %}
      <a class="no-format" target="_blank" href="{{ p.link }}">
        <li class="lead">
          <div class="backpic" style="background: #ccc url('{{ p.profpic }}') no-repeat"></div>
          <p class="name">{{ p.name }}</p>
          <p class="small">{{ p.role }}</p>
        </li>
      </a>
    {% endfor %}
  </ul>
  <ul class="associates">
    {% for p in page.associates %}
      <a class="no-format" target="_blank" href="{{ p.link }}">
        <li class="associate">
          <div class="backpic" style="background: #ccc url('{{ p.profpic }}') no-repeat"></div>
          <p class="name">{{ p.name }}</p>
          <p class="small">{{ p.role }}</p>
        </li>
      </a>
    {% endfor %}
  </ul>

  <hr class="invisible">
  <h3>Advisors</h3>

  <ul class="advisors">
    {% for p in page.advisors %}
      <a class="no-format" target="_blank" href="{{ p.link }}">
        <li class="advisor">
          <div class="backpic" style="background: #ccc url('{{ p.profpic }}') no-repeat"></div>
          <p class="name">{{ p.name }}</p>
          <p class="small">{{ p.role }}</p>
        </li>
      </a>
    {% endfor %}
  </ul>

  <hr class="invisible">
  <h3>Alumni</h3>
  <ul class="alumni">
    {% for p in page.alumni %}
      <a class="no-format" target="_blank" href="{{ p.link }}">
        <li class="alumnus">
          <div class="backpic" style="background: #ccc url('{{ p.profpic }}') no-repeat"></div>
          <p class="name">{{ p.name }}</p>
          <p class="small">{{ p.role }}</p>
        </li>
      </a>
    {% endfor %}
  </ul>


</section>